.OctobotHeader {
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OctobotLabel {
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
}

.OctobotLink {
  color: #61dafb;
}

.OctobotLogo {
  max-width: 100%;
  height: auto;
}

.OctobotMiniLogo {
  height: auto;
  width: 30%;
  max-width: 400px;
}

.OctobotMiniLogo img{
  height: auto;
  width: 100%;
}

.OctobotMobileLogo {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {

  .OctobotMiniLogo {
    height: auto;
    width: 50%;
  }
  
  .OctobotHeader {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .OctobotLogo {
    display:none;
  }  

  .OctobotMobileLogo {
    height: auto;
    max-width: 100%;
    display: flex;
  }

  /* You might need to adjust other elements for better mobile presentation */
  /* For example, if your SearchBar has specific width set somewhere, adjust it here */
  .SearchBarClassName {
    width: 100%; /* Example: make the search bar full width on smaller screens */
  }
}