.cardDisplay {
    color: white;
    font-family: 'AvenirNextLtPro';
    padding: 24px;
    width: 90%;
    display: flex;
    align-items: flex-start;
}

.leftContent {
    flex: 1;
    text-align: right;
}

.rightContent {
    flex: 2;
    padding: 12px;
}

.championsIcon {
    font-family: 'ChampionsIcons';
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
}

.tab:hover {
    background-color: #e66b6b;
}

.activeTab {
    font-weight: bold;
    border-style: solid;
}

@media (max-width: 768px) {
    .cardDisplay {
        flex-direction: column;
        align-items: center; 
    }

    .leftContent {
        text-align: center; 
        flex: none; 
        width: 100%; 
    }

    .rightContent {
        flex: none; 
        width: 100%; 
        padding: 12px 0; 
    }
}
