.search {
  min-width: 60%;
  max-width: 80%;
  margin-bottom: 20px;
  margin-inline: auto;
  align-content: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  gap: 16px;
  flex-wrap: wrap;
}

.searchbox input {
  padding-block: 20px;
  padding-inline: 10px;
  min-width: 100%;
  font-size: 24px;
}

.searchButton {
  background-color: #ED1D24;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: block;
  box-shadow: 0px 0px 8px #000000;
}

.searchButton:hover {
  font-weight: 600;
}

@media (max-width: 600px) {
  .searchContainer {
    flex-direction: column;
    align-items: center;
  }

  .searchButton {
    width: 100%;
    max-width: 300px;
  }
}