/* styles/globals.css */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'AvenirNextLtPro';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #001126;
    justify-content: center;
}

button {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 6px;
    border-radius: 5px;
    font-family: 'AvenirNextLtPro';
    background-color: #ed1d2479;
    cursor: pointer;
}

button:hover {
    background-color: #ed1d24;
}

h3,
h2 {
    color: white;
}


@font-face {
    font-family: 'ChampionsIcons';
    src: url('/fonts/ChampionsIcons.ttf');
}

@font-face {
    font-family: 'AvenirNextLtPro';
    src: url('/fonts/AvenirNextLTPro-Regular.otf');
}